@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900&display=swap');
:root {
    --primary-color: #ed1b24;
    --primary-color-dark: #b81414;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #fbfbfb;
    --max-width: 1200px;
  }
.section {
    font-family: "Montserrat";
    background-color: var(--extra-light);
  }

  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }

  .description {
    line-height: 2rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }

  .action__btns {
    display: flex;
    gap: 1rem;
  }

  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-family: "Montserrat";
  }

  .portfolio {
    color: var(--primary-color);
  }

  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #fefefe;
  }


  .image {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.image img {
  max-width: 350px;
  height: 700px;
  align-items: left;

}



  @media (width < 768px) {
    .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
    .action__btns {
      margin: auto;
    }
  }

  .section_container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
  }

  .section_container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
  }

  .section_container h1 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .section_container h1::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 5rem;
    background-color: var(--primary-color);
  }

  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .section__card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5rem 2rem 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .section__card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: 0.5s;
  }

  .section__card span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 3rem;
    color: var(--white);
  }

  .section__card h4 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }

  .section__card p {
    margin-bottom: 2rem;
    color: var(--text-light);
    transition: 0.3s;
  }

  .section__card img {
    margin-bottom: 1rem;
    max-width: 100px;
    border-radius: 100%;
    border: 2px solid var(--primary-color);
    transition: 0.3s;
  }

  .section__card h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }

  .section__card h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-light);
    transition: 0.3s;
  }

  .section__card:hover::before {
    width: 400%;
  }

  .section__card:hover :is(h4, h5) {
    color: var(--white);
  }

  .section__card:hover :is(p, h6) {
    color: var(--secondary-color);
  }

  .section__card:hover img {
    border-color: var(--white);
  }




