<footer class="footer-distributed">

    <div class="footer-left">
        <img src="assets/img/logo.png" alt="logo" height="70">
        <p class="footer-links">
            <a href="#">HİZMETLERİMİZ</a><br>

            <a href="#">REFERANSLARIMIZ</a><br>

            <a href="#">GALERİ</a><br>

            <a href="#">İLETİŞİM</a>
        </p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Veysel Karani Mh. 2. Nazlı Sk. No:28</span> Osmangazi/BURSA</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p><a href="tel:05316492273">05316492273</a></p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p><a href="tel:05316492273">05316492273</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">leventcati.sistemleri@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>ÇALIŞMA SAATLERİMİZ</span>
            <strong>Pazartesi-Cumartesi</strong> 09:00 - 18:00
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>