<header>
    <a href="index.php" class="logo">
        <img src="assets/img/logo.png" alt="logo" height="50">
    </a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menü</label>

    <nav class="navbar">
        <ul>
            <li><a href="hizmetler.php">HİZMETLERİMİZ</a>
                <ul>
                    <li><a href="hizmetler.php" class="service-title" data-target="#section-one">ÇATI</a></li>
                    <li><a href="hizmetler.php" class="service-title" data-target="#section-two">ÇELİK</a></li>
                    <li><a href="hizmetler.php" class="service-title" data-target="#section-three">DİĞER</a></li>
                </ul>
            </li>
            <li><a href="#">REFERANSLARIMIZ</a></li>
            <li><a href="#">GALERİ</a></li>
            <li><a href="iletisim.php">İLETİŞİM</a></li>
        </ul>
    </nav>
</header>
